/*Configuração do body do projeto*/
body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

/*Configuração do header do projeto*/
header {
    color: white;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.2em rgb(0, 0, 0);
}

/*Configuração das sections do projeto*/
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

div {
    text-align: center;
    padding: 8px;
}

/*Configuração do footer do projeto*/
footer {
    color: white;
    text-align: center;
    font-style: italic;
    
}

p {
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.363);
}